<li>
  {{#link-to 'question' question.id}}
  <h3>{{question.query}}</h3>
  <h4>{{question.author}}</h4>
  <h5>Responses: {{answerCount}}</h5>
  {{question-popularity question}}
  {{/link-to}}
</li>
<button {{action 'addToFavorites' question}}class='btn btn-success'>Add Question to favorites</button>
