{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="query">Question</label>
        {{input value=query id="query" placeholder=question.query}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <button class="btn-success btn"{{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button class='btn btn-primary'{{action 'updateQuestionForm'}}>Update</button>
{{/if}}
