<h2>{{model.author}}'s question, "{{model.query}}" </h2>
<h5>Notes: {{model.notes}}</h5>

{{update-question question=model update='update'}}
{{question-detail question=model destroyQuestion="destroyQuestion"}}

<h3>Answers:</h3>
<ul>
  {{answer-tile question=model }}
</ul>

{{new-answer question=model saveAnswer='saveAnswer'}}
