<h2>More information about {{model.query}}'s {{model.author}}</h2>

{{update-question question=model update='update'}}
{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{answer-tile question=model }}

{{new-answer question=model save2='save3'}}
